body {
    font-family: "Lexend Mega";
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/* .container {
    display: grid;
} */

.main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #C614E5;
    font-size: 35px;
    padding: 10px;
    margin: 25px;
    align-items: center;}


nav {
    margin: 40px;
    display: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;;
}

a:hover {
    color: white;
    background-color: #C614E5;
    cursor: pointer;
    list-style-type: disc;
}

.navbar {
    display: flex;
}

img .image {
    justify-content: space-between;
    
}

.skillsUnderHeader {
    margin-left: 35px;
}

#aboutMe {
    text-align: center;
    /* border: 1px solid green; */
}

.sectionTitles {
    font-size: 20px;
    color: black;
}

#projects {
    text-align: center;
    /* border: 1px solid blue; */
}

.project {
    display: inline;
}

#skills {
    text-align: center;
    /* border: 1px solid red; */
}

.skillsList {
    display: inline;
    padding: 8px;
}

button {
    color: #C614E5;
    background-color: white;
    border: 3px solid #C614E5;
}

button:hover {
    cursor: pointer;
}

#contactMe {
    text-align: center;
    /* border: 1px solid purple; */
}


/*Tablet view */
@media only screen and (min-width: 678px) {
    
    nav {
        display: flex;
    }

    img {
        display: none;
    }
};

/*Desktop view */
@media only screen and (min-width: 992px) {};